   <!-- product card -->
   <div class="container my-5">
    <div class="d-flex align-items-center mb-4">
      <h2 class="me-3">Kahveler</h2>
      <hr class="flex-grow-1" style="margin: 0;">
    </div>

    <!-- Yalnızca yatay kaydırılabilir hale getiren div -->
    <div class="overflow-auto d-flex flex-nowrap">
      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://www.shutterstock.com/image-photo/foamy-coffee-cappuccino-wiped-milk-600nw-2478573231.jpg" class="card-img-top" alt="Cappuccino" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Cappuccino</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>

      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://www.kahve.com/class/INNOVAEditor/assets/espresso-2AWFEXJ-(1).jpg" class="card-img-top" alt="Latte" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Espresso</h5>
          <p class="card-text text-muted">Kahvenizin güçlü ve yoğun lezzeti.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNKQ42aLZiGXS6aNV5ZhXOYfFn38AbhRR_OA&s" class="card-img-top" alt="Latte" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Latte</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>

      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://www.shutterstock.com/image-photo/foamy-coffee-cappuccino-wiped-milk-600nw-2478573231.jpg" class="card-img-top" alt="Cappuccino" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Cappuccino</h5>
          <p class="card-text text-muted">Kremalı ve yoğun bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
    </div>

    <hr>
    <div class="d-flex align-items-center mb-4">
      <h2 class="me-3">FROZEN - MEYVE PÜRESİ</h2>
      <hr class="flex-grow-1" style="margin: 0;">
    </div>

    <!-- Yalnızca yatay kaydırılabilir hale getiren div -->
    <div class="overflow-auto d-flex flex-nowrap">
      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_ace90755c9e34c01a96a1afe147bdccb~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_ace90755c9e34c01a96a1afe147bdccb~mv2.png" class="card-img-top" alt="Cappuccino" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Nar Püre</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>

      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_15a0cd28aeab4cf9a864086c5678c0ea~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_15a0cd28aeab4cf9a864086c5678c0ea~mv2.png" class="card-img-top" alt="Latte" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Mandalina Püre</h5>
          <p class="card-text text-muted">Kahvenizin güçlü ve yoğun lezzeti.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_5303abb2d46b4a338cd0f7a1109cfa11~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_5303abb2d46b4a338cd0f7a1109cfa11~mv2.png" class="card-img-top" alt="Latte" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Vişne Püre</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_d944387efd8c496b86a09ff76697b6cb~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_d944387efd8c496b86a09ff76697b6cb~mv2.png" class="card-img-top" alt="Latte" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Yeşil Elma Püre</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
        <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_ace90755c9e34c01a96a1afe147bdccb~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_ace90755c9e34c01a96a1afe147bdccb~mv2.png" class="card-img-top" alt="Cappuccino" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Nar Püre</h5>
          <p class="card-text text-muted">Dengeli ve zengin bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>

      <div class="card me-3 border-0 shadow-sm rounded-3 product-card" style="flex: 0 0 auto;">
        <img src="https://static.wixstatic.com/media/cf5fec_4a502122d063466b9260bd634ad01391~mv2.png/v1/fill/w_180,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf5fec_4a502122d063466b9260bd634ad01391~mv2.png" class="card-img-top" alt="Cappuccino" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">Yaban Mersini Püre</h5>
          <p class="card-text text-muted">Kremalı ve yoğun bir tat.</p>
          <button class="btn product-btn">Ürünü İncele</button>
        </div>
      </div>
    </div>
  </div>
 <!-- product card -->
