<div class="container p-4 border rounded bg-light">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="Ad" class="form-label">Ad</label>
        <input type="text" class="form-control" id="Ad" name="first_name" aria-label="Ad">
      </div>
      <div class="col-md-6">
        <label for="Soyad" class="form-label">Soyad</label>
        <input type="text" class="form-control" id="Soyad" name="last_name" aria-label="Soyad">
      </div>
    </div>
  
    <div class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="email" aria-label="Email">
      </div>
      <div class="col-md-6 d-flex align-items-end">
        <button type="submit" class="btn btn-warning text-white w-100 updatenamelastname">Bilgilerimi Güncelle</button>
      </div>
    </div>
  </div>
  