<div class="container p-4 border rounded bg-light">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="inputPassword1" class="form-label">Şu Anki Şifre</label>
        <input type="password" class="form-control" id="inputPassword1" aria-label="Şu Anki Şifre">
      </div>
      <div class="col-md-6">
        <label for="inputPassword2" class="form-label">Yeni Şifre</label>
        <input type="password" class="form-control" id="inputPassword2" aria-label="Yeni Şifre">
      </div>
    </div>
  
    <div class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="inputPassword3" class="form-label">Yeni Şifre (Tekrar)</label>
        <input type="password" class="form-control" id="inputPassword3" aria-label="Yeni Şifre (Tekrar)">
      </div>
      <div class="col-md-6 d-flex align-items-end">
        <button type="submit" class="btn btn-warning text-white w-100 updatepassword">Bilgilerimi Güncelle</button>
      </div>
    </div>
  </div>
  